numpy
matplotlib
filterpy
loguru
megengine
motmetrics
ninja
onnx
onnxruntime
onnxsim
opencv_python
openvino
pycocotools
recommonmark
scipy
setuptools
Sphinx
sphinx_rtd_theme
tabulate
tensorrt
thop
torch
torchvision
tqdm
wandb
Pillow
train